streamlit
pandas
numpy<2
scikit-learn
plotly
matplotlib
japanize-matplotlib
janome
sentence-transformers
umap-learn
hdbscan
wordcloud>=1.9.3
networkx
openpyxl
setuptools
google-generativeai
kaleido
Pillow<10.0.0